services:
  - type: web
    name: telegram-tamagochi-bot
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: BOT_TOKEN
        sync: false
    healthCheckPath: /health
    autoDeploy: true
    plan: free
